In [3]:
#Including the basic libraries at the start
import pandas as pd
import numpy as np

In [4]:
#importing the dataset
df=pd.read_csv(r'C:\Users\Personal\Downloads\Default_Fin.csv')

In [5]:
df.head()

   Index  Employed  Bank Balance  Annual Salary  Defaulted?
0      1         1       8754.36      532339.56           0
1      2         0       9806.16      145273.56           0
2      3         1      12882.60      381205.68           0
3      4         1       6351.00      428453.88           0
4      5         1       9427.92      461562.00           0

In [6]:
df.isnull().sum()

Index            0
Employed         0
Bank Balance     0
Annual Salary    0
Defaulted?       0
dtype: int64

In [7]:
#looking at the inter-relation or correlation amoung all of the features
df.corr()

                  Index  Employed  Bank Balance  Annual Salary  Defaulted?
Index          1.000000 -0.002597      0.010342      -0.001427   -0.005135
Employed      -0.002597  1.000000     -0.203578       0.753985   -0.035420
Bank Balance   0.010342 -0.203578      1.000000      -0.152243    0.350119
Annual Salary -0.001427  0.753985     -0.152243       1.000000   -0.019871
Defaulted?    -0.005135 -0.035420      0.350119      -0.019871    1.000000

In [8]:
#Dropping "Defaulted?" and taking remaining as independent variable X
X = df.drop(['Defaulted?'], axis="columns")

#Taking "Defaulted?" as dependent variable Y
Y = df["Defaulted?"]

In [9]:
#Importing required libraries for splitting dataset 
from sklearn.model_selection import train_test_split

#Diving dataset to X_train and Y_train as training variables and y_train and y_test as testing variables
#Making the ratio of 70% training and 30% testing as it is most efficient ratio.

x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.30, random_state = 0)

In [10]:
#Importing the Logistic Regression 
from sklearn.linear_model import LogisticRegression

#Creating Logistic Regression object
lr = LogisticRegression()

In [11]:
#Fitting model with x_train and y_train variables
lr.fit(x_train,y_train)

LogisticRegression()

In [12]:
Yhat=lr.predict(x_test)
Yhat

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [13]:
lr.score(x_train,y_train)

0.9662857142857143

In [14]:
lr.score(x_test,y_test)

0.961